<h3><%= @book.name %> Book</h3>
<p>
  <b>Book Name:</b>
  <%= @book.name %>
</p>

<p class="avatar">
  <%= image_tag @book.image.url(:large) %>
</p>

<p>
  <b>Author Name:</b>
  <%= @book.author.first_name %>
</p>

<p>
  <b>Genre Name:</b>
  <%= @book.genre.name %>
</p>

<p>
  <b>Book Cost:</b>
  <%= number_to_currency @book.price %>
</p>

<p>
  <b>Published Date:</b>
  <%= @book.created_at %>
</p> 

<p>
  <b>Book Video:</b><br/>
  <%= video_tag @book.video.url, :autoplay => false, :size => "480x320", :controls => true %>
</p>

<p>
	<%= link_to image_tag("like.png", width: 40, height: 40), like_home_path(@book.id), :method => :get %> 		<%= Opinions.where(book_id: @book.id, like:true).count %>
	<%= link_to image_tag("unlike.png", width: 40, height: 40), unlike_home_path(@book), :method => :get %>
	<%= Opinions.where(book_id: @book.id, unlike:true).count %>
</p>

<!-- <p>
	<%= link_to image_tag("like.png",height:'40', width:'40') %> <%= @book.likes %> <%= link_to image_tag("unlike.png",height:'40', width:'40') %> <%= @book.unlikes %>
</p>
<p>
  <img src="/assets/like.png" alt="ruby logo" height="2%" width="2%"> <%= @book.likes %>    <img src="/assets/unlike.png" alt="ruby logo" height="2%" width="2%"> <%= @book.unlikes %>
</p> -->

<b><h5>COMMENTS:</h5></b>
	<% Comment.where(:book_id => @book.id).each do |r| %>
		<b><%= r.user.first_name %>    <%= r.user.last_name %>:</b><br/>
		<%= r.comment %><br/>
		Rating:
		<div>
				<% if r.rating == 1 %>
					<div class="rating"><span>☆</span></div>
				<% elsif r.rating == 2 %>
					<div class="rating"><span>☆</span><span>☆</span></div>
				<% elsif r.rating == 3 %>
					<div class="rating"><span>☆</span><span>☆</span><span>☆</span></div>
				<% elsif r.rating == 4 %>
					<div class="rating"><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
				<% elsif r.rating == 5 %>
					<div class="rating"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
				<% end %>
		</div>
	<% end %>
	
	<%= form_for([@book, @book.comments.build]) do |f| %>
		<p>
		  <b><i><%= f.label :Comment %></i></b><br>
		  <%= f.text_area :comment, :rows => 4, :cols => 40, :placeholder => 'Enter text here...' %>
		</p>
		
		<p>	
		  <b><i><%= f.label :Book_Rating %></i></b><br/>
		  <%= f.radio_button :rating,1, {:class => "star"} %>
		  <%= f.radio_button :rating,2, {:class => "star"} %>
		  <%= f.radio_button :rating,3, {:class => "star"} %>
		  <%= f.radio_button :rating,4, {:class => "star"} %>
		  <%= f.radio_button :rating,5, {:class => "star"} %>
  	</p></br>

		<p>
		  <%= f.submit "Post Comment" %>
		</p>
	<% end %><br/>
<%= link_to 'Home', home_index_path, :class => 'btn' %>
